<html>
    <head>
        <title>
            Address
        </title>
        <script src="https://cdn.tailwindcss.com">
        </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
        <style>
         body {
                  background-color: #fff;
              }
        </style>
    </head>


    <body>
    <!-- Header -->
    {% extends 'base.html' %}
    {% block content %}
    {% load static %}

    <!-- Main Content -->
    <main class="container mx-auto p-6">
        <div class="container mx-auto mt-10 mb-10">
            <div class="flex justify-center space-x-20 items-center mb-4">
                <div class="step-container flex flex-col items-center w-full h-full" data-url="{% url 'Cart' %}">
                   <div class="w-8 h-8 rounded-full bg-orange-200 flex items-center justify-center font-bold hover:bg-orange-300">1</div>
                   <div>Shopping Cart</div>
                </div>
           
                <div class="step-container flex flex-col items-center w-full h-full" data-url="{% url 'Shopping-Info' %}">
                   <div class="w-8 h-8 rounded-full bg-orange-200 flex items-center justify-center font-bold hover:bg-orange-300">2</div>
                   <div>Shopping Info</div>
                </div>
           
                <div class="step-container flex flex-col items-center w-full h-full">
                   <div class="w-8 h-8 rounded-full bg-orange-500 flex items-center justify-center text-white font-bold hover:bg-orange-300">3</div>
                   <div class="text-orange-500">Address</div>
                </div>
           
                <div class="flex flex-col items-center w-full h-full">
                   <div class="w-8 h-8 rounded-full bg-orange-200 flex items-center justify-center font-bold hover:bg-orange-300">4</div>
                   <div>Payment Method</div>
                </div>
           </div>
            <p class="text-white mt-10 mb-2 mx-10">    
            - 
            </p>

            <!-- New Address -->
            <div class="bg-orange-200 p-8 rounded-lg mx-10">
                <div class="grid grid-cols-2 gap-4 mx-10 my-6">
                    <div>
                        <label class="block mb-2">Name</label>
                        <input type="text" class="w-full shadow-md rounded-lg p-2 mb-4">

                        <label class="block mb-2">Street Name</label>
                        <input type="text" class="w-full shadow-md rounded-lg p-2 mb-4">

                        <label class="block mb-2">State</label>
                        <input type="text" class="w-full shadow-md rounded-lg p-2 mb-4">
                    </div>
                    <div>
                        <label class="block mb-2">Phone Number</label>
                        <input type="text" class="w-full shadow-md rounded-lg p-2 mb-4">

                        <label class="block mb-2">City</label>
                        <input type="text" class="w-full shadow-md rounded-lg p-2 mb-4">

                        <label class="block mb-2">Zip Code</label>
                        <input type="text" class="w-full shadow-md rounded-lg p-2 mb-4">
                    </div>
                </div>
                <button class="mx-4 mt-4 bg-orange-500 text-white py-2 px-4 rounded-lg hover:bg-orange-600 save-button" data-url="{% url 'Address' %}">
                    Save
                </button>
            </div>
        </div>
    </main>
    <script src="{% static 'UserNavigation.js' %}"></script>
    </body>

  <!-- Foot-->
{% endblock %}
</html>