    <!-- Header -->
    {% load static %}
    <header class="flex justify-between items-center h-14 bg-orange-500">
        <div class="flex items-center">
            <img alt="WingWays Logo" class="mr-1" height="10" src="{% static 'img/logo-white-transparent.png' %}" width="100"/>
            <div class="relative mx-10">
                <input class="pl-10 pr-20 py-2 rounded-full" placeholder="Search" type="text"/>
                <i class="fas fa-search absolute left-3 top-3 text-gray-400">
                </i>
            </div>
            <nav class="flex items-center">
                <ul class="flex space-x-5">
                    <li>
                        <a class="mx-2 font-bold text-orange-900 hover:text-orange-700" href="{% url 'Home' id %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="mx-2 text-white hover:text-orange-700" href="{% url 'Restaurants' id %}">
                            Restaurants
                        </a>
                    </li>
                    <li>
                        <a class="mx-2 text-white hover:text-orange-700" href="#">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="relative mx-2">
            <a class="mx-2 fas fa-shopping-cart text-white text-2xl hover:text-orange-700" href="{% url 'Cart' id %}">
            </a>
            <a class="mx-2 fas fa-user-circle text-white text-4xl" href="{% url 'Profile' id %}">
            </a>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <!-- Foot-->
    <footer class="bg-orange-500 mt-8 p-4">
        <div class="container mx-auto flex flex-col lg:flex-row justify-between items-center text-white">
            <div class="w-full lg:w-auto" >
                <p class="font-bold">Company</p>
                <ul>
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Contact Us</li>
                    <li>Testimonials</li>
                </ul>
            </div>
            <div class="w-full lg:w-auto mt-4 lg:mt-0">
                <p class="font-bold">Support</p>
                <ul>
                    <li>Help Center</li>
                    <li>Terms of Service</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="w-full lg:w-auto mt-4 lg:mt-0">
                <h3 class="font-bold">
                Stay up to date
                </h3>
                <form>
                <input class="p-2 rounded-lg" placeholder="Your email address" type="text"/>
                <button class="bg-white text-orange-500 p-2 rounded-lg" type="submit">
                <i class="fas fa-paper-plane">
                </i>
                </button>
                </form>
            </div>
            <div class="flex space-x-5">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="#">
                    <i class="fab fa-tiktok"></i>
                </a>
            </div>
        </div>
        <div class="text-white text-center mt-4">
            Copyright © 2024 Drone food delivery website
                    All rights reserved
        </div>
    </footer>
