<html>
    <head>
        <title>
            Settings - Favourite
        </title>
        <script src="https://cdn.tailwindcss.com">
        </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
        <style>
         body {
                  background-color: #fff;
              }
        </style>
    </head>


    <body>
    <!-- Header -->
    {% extends 'base.html' %}
    {% block content %}
    {% load static %}


    <!-- Main Content -->
    <div class="flex flex-row mb-10 mt-10 mx-10">
        <div class="flex flex-col mb-10 mt-10 mx-10">
            <!-- Sidebar -->
            <!-- 1st block -->
            <div class="bg-orange-200 p-4 rounded-lg mb-6">
                <div class="flex flex-col space-y-4 my-2 mx-4">
                    <button class="sidebar-button flex items-center space-x-2  hover:text-orange-600" data-url="{% url 'Profile' id %}">
                        <i class="fas fa-user-circle"></i>
                        <span>Personal Info</span>
                    </button>
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'My-address' id %}">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>My address</span>
                    </button>
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600 font-extrabold text-orange-700" data-url="{% url 'Favourite' id %}">
                            <i class="fas fa-heart"></i>
                    <span>Favorite</span>
                    </button>
                </div>
            </div>
        
            <!-- 2nd block -->
            <div class="bg-orange-200 p-4 rounded-lg mb-6">
                <div class="flex flex-col space-y-4 my-2 mx-4">
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'My-order-history' id %}">
                        <i class="fas fa-history"></i>
                        <span>Order History</span>
                    </button>
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'Notification' id %}">
                        <i class="fas fa-bell"></i>
                        <span>Notifications</span>
                    </button>
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'Payment' id %}">
                            <i class="fas fa-credit-card"></i>
                            <span>Payment Method</span>
                    </button>
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'Settings' id %}">
                        <i class="fas fa-cog"></i>
                        <span>Settings</span>
                    </button>
                </div>
            </div>
        
            <!-- 3rd block -->
            <div class="bg-orange-200 p-4 rounded-lg mb-6">
                <div class="sidebar-button flex flex-col space-y-4 my-2 mx-4">
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'Logout' id %}">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Log Out</span>
                    </button>
                </div>
            </div>
            </div>


        <!-- Fav 1 -->
        <div class="w-2/3 p-4 grid grid-cols-3 gap-10 mx-1/2 mt-6">
            <div class="bg-orange-200 p-4 rounded-lg">
                <img alt="Placeholder image for food item" height="150" src="{% static 'img/fav.png' %}" width="300" class="rounded-lg"/>
                <div class="mt-2">
                    <div class="flex justify-between items-center">
                        <h3 class="font-bold">
                            Grilled Sturft Burritos
                        </h3>
                        <i class="text-red-600 fas fa-heart"></i>
                    </div>
                    <p class="text-sm">
                        $14.45
                    </p>
                    <div class="text-orange-400">
                        <i class="fas fa-star">
                        </i>
                        <i class="fas fa-star">
                        </i>
                        <i class="fas fa-star">
                        </i>
                        <i class="fas fa-star">
                        </i>
                        <i class="fas fa-star-half-alt">
                        </i>
                    </div>
                </div>
            </div>
        
        <!-- Fav 2 -->
        <div class="bg-orange-200 p-4 rounded-lg">
            <img alt="Placeholder image for food item" height="150" src="{% static 'img/food1.jpg' %}" width="300" class="rounded-lg"/>
            <div class="mt-2">
                <div class="flex justify-between items-center">
                    <h3 class="font-bold">
                        Food
                    </h3>
                    <i class="text-red-600 fas fa-heart"></i>
                </div>
                <p class="text-sm">
                    $xx
                </p>
                <div class="text-orange-400">
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star-half-alt">
                    </i>
                </div>
            </div>
        </div>

        <!-- Fav 3 -->
        <div class="bg-orange-200 p-4 rounded-lg">
            <img alt="Placeholder image for food item" height="150" src="{% static 'img/food1.jpg' %}" width="300" class="rounded-lg"/>
            <div class="mt-2">
                <div class="flex justify-between items-center">
                    <h3 class="font-bold">
                        Food
                    </h3>
                    <i class="text-red-600 fas fa-heart"></i>
                </div>
                <p class="text-sm">
                    $xx
                </p>
                <div class="text-orange-400">
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                </div>
            </div>
        </div>

        <!-- Fav 4 -->
        <div class="bg-orange-200 p-4 rounded-lg">
            <img alt="Placeholder image for food item" height="150" src="{% static 'img/food1.jpg' %}" width="300" class="rounded-lg"/>
            <div class="mt-2">
                <div class="flex justify-between items-center">
                    <h3 class="font-bold">
                        Food
                    </h3>
                    <i class="text-red-600 fas fa-heart"></i>
                </div>
                <p class="text-sm">
                    $xx
                </p>
                <div class="text-orange-400">
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                </div>
            </div>
        </div>

        </div>
    </div>


   <!-- Foot-->

  </div>
  <script src="{% static 'UserNavigation.js' %}"></script>
 </body>
 {% endblock %}
</html>