<html>
    <head>
        <title>
            Home
        </title>
            <script src="https://cdn.tailwindcss.com"></script>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
            <link href="https://cdn.tailwindcss.com/2.2.19/tailwind.min.css" rel="stylesheet">
        <style>
        body {
                    background-color: #fff;
                }
        </style>
    </head>
 
    <body>
        {% extends 'base.html' %}
        {% block content %}
    <!-- Main Content -->
    <!-- Welcome -->
    {% load static %}
    <main class="mt-32 mb-16">
        <div class="flex justify-between max-w-5xl mx-auto px-4 py-10 sm:px-8 lg:px-8">
            <div class="lg:text-left">
                <h2 class="mt-2 text-7xl text-gray-700 font-extrabold tracking-wide sm:text-6xl">
                Food you love, <br> delivered to you
                </h2>
                <div class="mt-5">
                    <a id="orderNow" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-lg" href="{% url 'Restaurants' %}">
                        Order Now
                    </a>                    
                </div>
            </div>
            <div class="flex justify-end px-20">
                <img alt="Illustration of delivering food by drone" class="h-48 w-auto" height="300" width="500" src="{% static 'img/home2.png' %}" />
            </div>
        </div>
    </main>
        
        
    <!-- Categories -->
    <main class="container mx-10 mt-12">
        <h2 class="text-2xl font-extrabold mb-4">
        Categories
        </h2>
        <div class="overflow-x-10">
            <div class="flex space-x-4 mb-8">
                <button id="allFood" class="flex items-center justify-center rounded-full bg-gray-200 px-8 py-2 text-orange-400 hover:bg-orange-500 hover:text-white">
                    All
                </button>
                <button class="flex items-center justify-center rounded-full bg-gray-200 px-8 py-2 text-orange-400 hover:bg-orange-500 hover:text-white">
                    Fast food
                </button>
                <button class="flex items-center justify-center rounded-full bg-gray-200 px-8 py-2 text-orange-400 hover:bg-orange-500 hover:text-white">
                    Sushi
                </button>
                <button class="flex items-center justify-center rounded-full bg-gray-200 px-8 py-2 text-orange-400 hover:bg-orange-500 hover:text-white">
                    Asian
                </button>
                <button class="flex items-center justify-center rounded-full bg-gray-200 px-8 py-2 text-orange-400 hover:bg-orange-500 hover:text-white">
                    Bubble tea
                </button>
                <button class="flex items-center justify-center rounded-full bg-gray-200 px-8 py-2 text-orange-400 hover:bg-orange-500 hover:text-white">
                    Bakery
                </button>
                <button class="flex items-center justify-center rounded-full bg-gray-200 px-8 py-2 text-orange-400 hover:bg-orange-500 hover:text-white">
                    Vegan
                </button>
                <button class="flex items-center justify-center rounded-full bg-gray-200 px-6 py-2 text-orange-400 hover:bg-orange-500 hover:text-white">
                    Coffee
                </button>
                <button class="flex items-center justify-center rounded-full bg-gray-200 px-6 py-2 text-orange-400 hover:bg-orange-500 hover:text-white">
                    Alcohol
                </button>
                <button class="flex items-center justify-center rounded-full bg-gray-200 px-6 py-2 text-orange-400 hover:bg-orange-500 hover:text-white">
                    Ice cream
                </button>
            </div>
            </div>
            </main>
            
    <!-- Food 1 -->
    <main class="grid grid-cols-4 gap-10 mx-10">
        <div class="bg-orange-200 p-4 rounded-lg shadow">
            <img alt="Classic Beef Burger" class="mb-3 rounded-lg" height="200" src="{% static 'img/classic-bf-burger.jpeg' %}" width="300"/>
            <h3 class="font-bold">
            Classic Beef Burger
            </h3>
            <p class="text-gray-500">
            $5.49
            </p>
            <p class="text-gray-500">
            7 min
            </p>
            <div class="flex">
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
            </div>
        </div>

    <!-- Food 2 -->
        <div class="bg-orange-200 p-4 rounded-lg shadow">
            <img alt="Placeholder image for food item" class="mb-3 rounded-lg" height="200" src="{% static 'img/food.jpg' %}" width="300"/>
            <h3 class="font-bold">
            Food
            </h3>
            <p class="text-gray-500">
            $x.xx
            </p>
            <p class="text-gray-500">
            XX min
            </p>
            <div class="flex">
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
            </div>
        </div>

    <!-- Food 3 -->
        <div class="bg-orange-200 p-4 rounded-lg shadow">
            <img alt="Placeholder image for food item" class="mb-3 rounded-lg" height="200" src="{% static 'img/food.jpg' %}" width="300"/>
            <h3 class="font-bold">
            Food
            </h3>
            <p class="text-gray-500">
            $x.xx
            </p>
            <p class="text-gray-500">
            XX min
            </p>
            <div class="flex">
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
            </div>
        </div>

    <!-- Food 4 -->
        <div class="bg-orange-200 p-4 rounded-lg shadow">
            <img alt="Placeholder image for food item" class="mb-3 rounded-lg" height="200" src="{% static 'img/food.jpg' %}" width="300"/>
            <h3 class="font-bold">
            Food
            </h3>
            <p class="text-gray-500">
            $x.xx
            </p>
            <p class="text-gray-500">
            XX min
            </p>
            <div class="flex">
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
            </div>
        </div>

    <!-- Food 5 -->
        <div class="bg-orange-200 p-4 rounded-lg shadow">
            <img alt="Placeholder image for food item" class="mb-3 rounded-lg" height="200" src="{% static 'img/food.jpg' %}" width="300"/>
            <h3 class="font-bold">
            Food
            </h3>
            <p class="text-gray-500">
            $x.xx
            </p>
            <p class="text-gray-500">
            XX min
            </p>
            <div class="flex">
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
            </div>
        </div>

    <!-- Food 6 -->
        <div class="bg-orange-200 p-4 rounded-lg shadow">
            <img alt="Placeholder image for food item" class="mb-3 rounded-lg" height="200" src="{% static 'img/food.jpg' %}" width="300"/>
            <h3 class="font-bold">
            Food
            </h3>
            <p class="text-gray-500">
            $x.xx
            </p>
            <p class="text-gray-500">
            XX min
            </p>
            <div class="flex">
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
            </div>
        </div>

    <!-- Food 7 -->
        <div class="bg-orange-200 p-4 rounded-lg shadow">
            <img alt="Placeholder image for food item" class="mb-3 rounded-lg" height="200" src="{% static 'img/food.jpg' %}" width="300"/>
            <h3 class="font-bold">
            Food
            </h3>
            <p class="text-gray-500">
            $x.xx
            </p>
            <p class="text-gray-500">
            XX min
            </p>
            <div class="flex">
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
            </div>
        </div>

    <!-- Food 8 -->
        <div class="bg-orange-200 p-4 rounded-lg shadow">
            <img alt="Placeholder image for food item" class="mb-3 rounded-lg" height="200" src="{% static 'img/food.jpg' %}" width="300"/>
            <h3 class="font-bold">
            Food
            </h3>
            <p class="text-gray-500">
            $x.xx
            </p>
            <p class="text-gray-500">
            XX min
            </p>
            <div class="flex">
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
                <i class="fas fa-star text-orange-400">
                </i>
            </div>
        </div>
    </main>


    <!-- Suggested Restaurants -->
    <main class="container mx-10 mt-12 overflow-x-10">
        <h2 class="text-2xl font-extrabold mb-4">
        Restaurants near you
        </h2>
        <div class="grid grid-cols-4 gap-4">
                 <div id="Suggest1" class="suggest-item bg-white p-4 w-150 rounded-lg shadow-xl hover:bg-gray-200" data-url="{% url 'Menu' %}">
                <img alt="Taco Bell restaurant with various Mexican dishes" class="rounded-lg mb-2" height="100" src="{% static 'img/taco-bell.jpg' %}" width="300"/>
                <h3 class="text-lg font-bold">
                Taco Bell
                </h3>
                <p class="text-sm">
                Fast food - Mexican
                </p>
                <div class="flex items-center text-sm text-gray-600">
                    <i class="fas fa-star text-orange-600">
                    </i>
                    <span>
                        4.6
                    </span>
                    <span class="mx-2">
                        •
                    </span>
                    <span>
                        $0.99 Delivery Fee
                    </span>
                    <span class="mx-2">
                        •
                    </span>
                    <span>
                        10min
                    </span>
                </div>
            </div>

        <!-- Resto 2 -->
        <div id="Suggest2" class="suggest-item bg-white p-4 rounded-lg shadow-xl">
            <img alt="China Bar restaurant with various Chinese noodle dishes" class="rounded-lg mb-2" height="200" src="{% static 'img/china-bar.jpg' %}" width="300"/>
            <h3 class="text-lg font-bold">
            China Bar
            </h3>
            <p class="text-sm">
            Chinese - Noodles
            </p>
            <div class="flex items-center text-sm text-gray-600">
                <i class="fas fa-star text-orange-600">
                </i>
                <span>
                    4.5
                </span>
                <span class="mx-2">
                    •
                </span>
                <span>
                    $0.99 Delivery Fee
                </span>
                <span class="mx-2">
                    •
                </span>
                <span>
                    15min
                </span>
            </div>
        </div>

        <!-- Resto 3 -->
        <div id="Suggest3" class="suggest-item bg-white p-4 rounded-lg shadow-xl">
            <img alt="Share Tea restaurant with various bubble tea options" class="rounded-lg mb-2" height="200" src="{% static 'img/share-tea.jpg' %}" width="300"/>
            <h3 class="text-lg font-bold">
            Share Tea
            </h3>
            <p class="text-sm">
            Drinks - Bubble tea
            </p>
            <div class="flex items-center text-sm text-gray-600">
                <i class="fas fa-star text-orange-600">
                </i>
                <span>
                    4.9
                </span>
                <span class="mx-2">
                    •
                </span>
                <span>
                    $0.99 Delivery Fee
                </span>
                <span class="mx-2">
                    •
                </span>
                <span>
                    7min
                </span>
            </div>
        </div>

        <!-- Resto 4 -->
        <div id="Suggest4" class="suggest-item bg-white p-4 rounded-lg shadow-xl">
            <img alt="Lukas restaurant with various dessert options" class="rounded-lg mb-2" height="200" src="{% static 'img/lukumama.png' %}" width="300"/>
            <h3 class="text-lg font-bold">
            Lukumama
            </h3>
            <p class="text-sm">
            Desserts
            </p>
            <div class="flex items-center text-sm text-gray-600">
                <i class="fas fa-star text-orange-600">
                </i>
                <span>
                    4.9
                </span>
                <span class="mx-2">
                    •
                </span>
                <span>
                    $0.99 Delivery Fee
                </span>
                <span class="mx-2">
                    •
                </span>
                <span>
                    9min
                </span>
            </div>
        </div>


        <!-- Feedback -->
        <section class="mt-12">
            <h2 class="text-2xl font-semibold mb-4">
            What customer say
            </h2>
            <div class="flex space-x-8">
                <div class="bg-gray-200 p-4 rounded-full shadow">
                    <p class="text-sm">
                        feedback
                    </p>
                    <p class="text-xs">
                        Customer's Name
                    </p>
                </div>
                <div class="bg-gray-200 p-4 rounded-full shadow">
                    <p class="text-sm">
                        feedback
                    </p>
                    <p class="text-xs">
                        Customer's Name
                    </p>
                </div>
                <div class="bg-gray-200 p-4 rounded-full shadow">
                    <p class="text-sm">
                        feedback
                    </p>
                    <p class="text-xs">
                        Customer's Name
                    </p>
                </div>
            </div>
        </section>
    </main>
    <script src="{% static 'UserNavigation.js' %}"></script>
</body>
{% endblock %}
</html>