<html>
    <head>
        <title>
            Settings - Order history
        </title>
        <script src="https://cdn.tailwindcss.com">
        </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
        <style>
         body {
                  background-color: #fff;
              }
        </style>
    </head>


    <body>
    <!-- Header -->
    {% extends 'base.html' %}
    {% block content %}
    {% load static %}


    <!-- Main Content -->
    <div class="flex flex-row mb-10 mt-10 mx-10">
        <div class="flex flex-col mb-10 mt-10 mx-10">
            <!-- Sidebar -->
            <!-- 1st block -->
            <div class="bg-orange-200 p-4 rounded-lg mb-6">
                <div class="flex flex-col space-y-4 my-2 mx-4">
                    <button class="sidebar-button flex items-center space-x-2  hover:text-orange-600" data-url="{% url 'Profile' %}">
                        <i class="fas fa-user-circle"></i>
                        <span>Personal Info</span>
                    </button>
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'My-address' %}">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>My address</span>
                    </button>
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'Favourite' %}">
                            <i class="fas fa-heart"></i>
                    <span>Favorite</span>
                    </button>
                </div>
            </div>
        
            <!-- 2nd block -->
            <div class="bg-orange-200 p-4 rounded-lg mb-6">
                <div class="flex flex-col space-y-4 my-2 mx-4">
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600 font-extrabold text-orange-700" data-url="{% url 'My-order-history' %}">
                        <i class="fas fa-history"></i>
                        <span>Order History</span>
                    </button>
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'Notification' %}">
                        <i class="fas fa-bell"></i>
                        <span>Notifications</span>
                    </button>
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'Payment' %}">
                            <i class="fas fa-credit-card"></i>
                            <span>Payment Method</span>
                    </button>
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'Settings' %}">
                        <i class="fas fa-cog"></i>
                        <span>Settings</span>
                    </button>
                </div>
            </div>
        
            <!-- 3rd block -->
            <div class="bg-orange-200 p-4 rounded-lg mb-6">
                <div class="sidebar-button flex flex-col space-y-4 my-2 mx-4">
                    <button class="sidebar-button flex items-center space-x-2 text-gray-700 hover:text-orange-600" data-url="{% url 'Logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Log Out</span>
                    </button>
                </div>
            </div>
            </div>

    <!-- Order history -->
    <div class="w-2/3 p-4 mx-10 my-6">
        <div class="bg-orange-200 p-4 mb-4 rounded-lg">
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-2 mx-2">
                    <img alt="Sofia Pizza House food items" class="rounded-full mx-4" height="150" width="100" src="{% static 'img/sofia.png' %}"/>
                    <div>
                        <div class="font-semibold mb-4">Sofia Pizza House</div>
                        <div class="text-gray-600">5 Items : $92.40</div>
                        <div class="text-gray-600">01 Nov : Completed</div>
                    </div>
                </div>
                <button class="mx-6 bg-orange-500 text-white px-6 py-2 rounded-lg hover:bg-orange-600">
                    View
                </button>
            </div>
        </div>

        <div class="bg-orange-200 p-4 mb-4 rounded-lg">
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-2 mx-2">
                    <img alt="Benny's American Burger food items" class="rounded-full mx-4" height="150" width="100" src="{% static 'img/benny.jpg' %}"/>
                    <div>
                        <div class="font-semibold mb-4">Benny's American Burger</div>
                        <div class="text-gray-600">7 Items : $83.80</div>
                        <div class="text-gray-600">31 Oct : Completed</div>
                    </div>
                </div>
                <button class="mx-6 bg-orange-500 text-white px-6 py-2 rounded-lg hover:bg-orange-600">
                    View
                </button>
            </div>
        </div>
    </div>
    </div>


    <!-- Foot-->
    <script src="{% static 'UserNavigation.js' %}"></script>
 </body>
 {% endblock %}
</html>